{
  "plugins": [
    "react-hot-loader/babel",
    "lodash",
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-dynamic-import"
  ],
  "presets": [
    "react",
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": "entry",
        "targets": {
          "browsers": [
            "ie 11",
            "Edge >= 13",
            "Firefox >= 50",
            "Chrome >= 55",
            "Safari >= 10"
          ]
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "react",
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
