{
  "plugins": [
    "react-hot-loader/babel",
    "lodash",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "presets": [
    "react",
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": "entry",
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "react",
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
